<div class="row">
  <div class="col-6">
    Text:
    <textarea id="text-input" class="form-control" rows="10"></textarea>
  </div>
  <div class="col-6">
    <p>Statistics</p>
    <p>Words: <span id="word-count"></span></p>
    <p>Characters: <span id='character-count'></span></p>
  </div>
</div>
  