<style>
  .nav-masthead .nav-link {
    padding: 0.25rem 0;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.5);
    background-color: transparent;
    border-bottom: 0.25rem solid transparent;
  }

  .nav-masthead .nav-link:hover,
  .nav-masthead .nav-link:focus {
    border-bottom-color: rgba(255, 255, 255, 0.25);
  }

  .nav-masthead .nav-link + .nav-link {
    margin-left: 1rem;
  }

  .nav-masthead .active {
    color: #fff;
    border-bottom-color: #fff;
  }
</style>

<header>
  <div>
    <a class="text-white" href="/">
      <h3 class="float-md-start mb-0">Browser Tools</h3>
    </a>
    <nav class="nav nav-masthead justify-content-center float-md-end">
      <a class="nav-link <% if (activePage == 'Home') { %>active<% } %>" href="/">Home</a>
      <a class="nav-link <% if (activePage == 'Tools') { %>active<% } %>" href="/tools.html">Tools</a>
    </nav>
  </div>
</header>
