<textarea class="large-area large-area--input" placeholder="Enter your JSON here...">
                {"name": "Dom"}
            </textarea>
<div class="controls">
    <button type="button" class="controls__button controls__button--format">Format</button>
    <button type="button" class="controls__button controls__button--minify">Minify</button>
</div>
<textarea readonly class="large-area large-area--output" placeholder="Your JSON will appear here..."></textarea>