<html>
  <head>
    <%= partial('title.ejs', info) %>
  </head>
  <body class="d-flex text-center text-white bg-dark">
    <div class="cover-container p-3 d-flex flex-column w-100 mx-auto">
      <%= partial('nav.ejs', info) %>

      <div class="container my-auto">
        <%= content %>
      </div>

      <%= partial('footer.ejs', info) %>
    </div>
  </body>
</html>
