<div class="row" style="margin-top: 50px;">
  <div class="col-6">
    <form id="qr-generator">
      <p style="margin-bottom: 0px;">Enter the URL:</p>
      <input id="text-url" class="form-control" rows="10" type="url"></input>
      <button class="btn btn-lg btn-light fw-bold" style="margin-top: 20px;">Generate QR Code</button>
    </form>
  </div>
  <div class="col-6">
    <div class="qr-code-preview">
      <img src="" id="qr-code-img" style="height: 600px;"/>
      <a id="download-qr-code" download="qr-code.png" class="btn btn-lg btn-light fw-bold" style="margin-top: 20px; margin-left: auto; margin-right: auto;">Download QR Code</a>
    </div>
  </div>
</div>
