<div class="row">
  <div class="col-6">
    Paste JWT
    <textarea id="jwt-decoded" class="form-control" rows="10"></textarea>
  </div>
  <div class="col-6">
    Decoded JWT
    <textarea id="jwt-encoded" class="form-control col-5" rows="10"></textarea>
  </div>
</div>
