<div class="row">
  <div class="col-6">
    Decoded Data:
    <textarea id="text-decoded" class="form-control" rows="10"></textarea>
  </div>
  <div class="col-6">
    Encoded Data:
    <textarea id="text-encoded" class="form-control col-5" rows="10"></textarea>
  </div>
</div>
